<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title || 'orepmi — Suivi GPS - Anti-Vol' }}</title>
    <link rel="icon" type="image/svg+xml" href="/assets/images/logos/logo_without_name.svg" />
    @vite(['resources/css/app.css', 'resources/js/app.js'])
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV/XN/WPeE=" crossorigin=""></script>
    @stack('dumper')
  </head>
  <body x-data>
    @include('partials/header')
    <main>
      @include('partials/flash_alerts')
      {{{ await $slots.main() }}}
    </main>
    <footer class="site-footer">
      <div class="footer-inner">
        <span>orepmi &copy; 2026</span>
      </div>
    </footer>
    @include('partials/add_tracker_modal')
  </body>
</html>
